@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Be Vietnam Pro';
}

html, body{
  width: 100%;
  background-color: #000000;
}

section{
  width: 1440px;
  background-color: #ffffff;
  background-image: url(/images/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  background-position-x: 120%;
  background-position-y: -10%;
  margin: auto;
  cursor: pointer;
}

.first-div{
  padding: 0 165px;
  padding-top: 55px;
  margin-bottom: 130px;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}

.header i{
  display: none;
}

.header ul{
  display: flex;
  gap: 30px;
}

.header ul > li{
  list-style-type: none;
  font-size: 12px;
  font-weight: 600;
  color: hsl(233, 12%, 13%);
}

.header ul > li:hover{
  color: hsl(227, 12%, 61%);
}

.header button{
  background-color: hsl(12, 88%, 59%);
  border: 0;
  padding: 15px 30px;
  border-radius: 50px;
  font-weight: 500;
  color: #ffffff;
  box-shadow: 0 5px 15px 0 hsl(12, 88%, 59%);
}

.first-div-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.writeup{
  width: 39.2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 35px;
}

.writeup h1{
  font-size: 50px;
  color: hsl(233, 12%, 13%);
}

.writeup p{
  color: hsl(227, 12%, 61%);
  width: 77%;
  font-size: 15px;
  line-height: 25px;
}

.writeup button{
  background-color: hsl(12, 88%, 59%);
  border: 0;
  padding: 15px 30px;
  border-radius: 50px;
  font-weight: 500;
  color: #ffffff;
  width: 140px;
  box-shadow: 0 5px 15px 0 hsl(12, 88%, 59%);
}

.second-div{
  background-image: url(/images/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  background-position-x: -60%;
  background-position-y: 70%;
}

.upper{
  display: flex;
  gap: 150px;
  justify-content: center;
  margin-bottom: 155px;
}


.left{
  display: flex;
  flex-direction: column;
  margin-left: 165px;
}

.left h1{
  font-size: 35px;
  margin-bottom: 35px;
  color: hsl(228, 39%, 23%);
}

.left p{
  color: hsl(227, 12%, 61%);
  line-height: 25px;
  width: 73.6%;
  font-size: 14px;
}

.right ul{
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-right: 165px;
}

.right ul li{
  list-style-type: none;
}

.right ul li span{
  padding: 10px 25px;
  background-color: hsl(12, 88%, 59%);;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  border-radius: 50px;
  margin-right: 28px;
}

.right h4{
  margin-bottom: 30px;
  color: hsl(228, 39%, 23%);
}

.right p{
  padding-left: 95px;
  color: hsl(227, 12%, 61%);
  font-size: 17px;
  flex-wrap: wrap;
  line-height: 25px;
}

.lower{
  text-align: center;
  overflow: hidden;
}

.lower > h1{
  font-size: 35px;
  text-align: center;
  margin-bottom: 70px;
}

.testimonial-container {
  display: flex;
  align-items: center;
  /* height: 100vh; */
  width: 100vw;
  overflow: hidden;
}

.testimonial-parent {
  position: relative;
  width: 100vw;
  height: 20rem;
  /* padding: 2rem 0; */
  overflow-x: hidden;
}

.testimonial-element {
  width: inherit;
  height: inherit;
  position: absolute;
  left: 0%;
  top: 0%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
  
}

.testimonial-element div{
  text-align: center;
  background-color: #FAFAFA;
  padding: 25px;
}

.testimonial-element div h1{
  color: hsl(228, 39%, 23%);
  margin: 25px 0;
}

.testimonial-element div p{
  color: hsl(227, 12%, 61%);
  font-size: 15px;
  line-height: 25px;
}

.testimonial-element img {
  width: 15%;
}

.primary {
  animation: primary 30s linear infinite;
}
  
.secondary {
  animation: secondary 30s linear infinite;
  margin-left: 30px;
}

@keyframes primary {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}

@keyframes secondary {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}

.lower button{
  background-color: hsl(12, 88%, 59%);
  border: 0;
  padding: 15px 30px;
  border-radius: 50px;
  font-weight: 500;
  color: #ffffff;
  width: 140px;
  box-shadow: 0 5px 15px 0 hsl(12, 88%, 59%);
  margin: auto;
  margin-top: 50px;
  margin-bottom: 180px;
}

.third-div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 70px 160px;
  background-color: hsl(12, 88%, 59%);
}

.third-div h1{
  width: 435px;
  font-size: 35px;
  color: #ffffff;
}

.third-div button{
  background-color: #ffffff;
  border: 0;
  padding: 15px 30px;
  border-radius: 50px;
  font-weight: 500;
  color: hsl(12, 88%, 59%);
  width: 140px;
}

.fourth-div{
  display: flex;
  align-items: center;
  background-color: #1E1E26;
  padding: 70px 160px;
  gap: 145px;
}

.icons-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 120px;
}

.icons{
  display: flex;
  justify-content: space-between;
}

.icons i{
  color: #ffffff;
}

.icons i:hover{
  color: hsl(12, 88%, 59%);
}

.links-container{
  display: flex;
  gap: 215px;
}

.links-container div{
display: flex;
flex-direction: column;
gap: 20px;
width: max-content;
color: #ffffff;
} 

.links-container p:hover{
color: hsl(12, 88%, 59%);
}

form{
display: flex;
gap: 15px;
}

input{
  padding: 15px;
  border-radius: 50px;
  border: 0;
}

input:focus{
  outline: none;
}

form button{
  padding: 0 25px;
  border-radius: 50px;
  background-color: hsl(12, 88%, 59%);
  color: #ffffff;
}

.updates span{
  color: hsl(12, 88%, 59%);
  font-style: italic;
  font-size: 10px;
  padding-left: 10px;
}

.updates p{
  color: hsl(227, 12%, 61%);;
  font-size: 15px;
  margin-top: 80px;
}

.header button:hover, .writeup button:hover, .lower button:hover, form button:hover{
  cursor: pointer;
  background-color: #F98F75;
}

.third-div button:hover{
  cursor: pointer;
  color: #eeaa99;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* MEDIA QUERIES */
/* FOR SCREENS 374px and BELOW */
@media screen and (max-width: 374px) {
section{
  width: 100%;
}

.first-div{
  padding: 0;
  padding-top: 40px;
  margin-bottom: 105px;
}

.header{
  padding: 0 15px;
  margin-bottom: 55px;
}

.header ul, .header button{
  display: none;
}

.header i{
  display: flex;
}

.first-div-content{
  flex-direction: column-reverse;
  padding: 0 15px;
}

.illustration{
  width: 100%;
}

.illustration img{
  width: inherit;
}

.writeup{
  width: 100%;
  align-items: center;

}

.writeup h1{
  text-align: center;
  font-size: 35px;
}

.writeup p{
  text-align: center;
  width: 100%;
  font-size: 18px;
}

.upper{
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 55px;
}

.left{
  margin: 0;
  padding: 0 20px;
}

.left p{
  width: 100%;
  font-size: 15px;
}

.right ul{
  margin: 0;
}

.right ul li{
  padding-left: 10px;
}

.right h4{
  margin-bottom: 15px;
  background-color: #FFF0EB;
  display: flex;
  align-items: center;
  gap: 15px;
}

.right p{
  padding: 0;
  text-align: start;
  line-height: 30px;
  font-size: 14px;
  /* padding: 0 15px; */
}

.right ul li span{
  margin-right: 0;
}
}

/* DONE TILL THE SECOND DIV LIST PART. TIME TO CODE THE TESTIMONIAL PART FOR MOBILE SCREENS */

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 375px TO 767px */

@media screen and (min-width: 375px) and (max-width: 767px) {
}